@import '~bootstrap/scss/bootstrap';
$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

.foot {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 75px;
  justify-content: center;
}

.main {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
}

.nav {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 75px;
  justify-content: center;
}

.unit {
  align-items: center;
  background-color: $primary;
  color: $font-color;
  display: flex;
  flex-wrap: wrap;
  height: 195px;
  justify-content: center;
  text-align: center;
  width: 195px;
}

.alt-color {
  background-color: $alt-color;
}
