@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
$primary: #001a33;
$primary-light: scale-color($primary, $lightness: 95%);
$alt-color: #7851a9;
$alt-color-light: scale-color($alt-color, $lightness: 95%);
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $primary;
}

.board {
  margin: -.6% 0 1%;
}

.btn {
  background-color: $body-bg-color;
  border-color: $body-bg-color;
  color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }

  &:disabled {
    background-color: $primary;
    border-color: $primary;
  }
}

#display-msgs {
  align-items: center;
  background-color: $primary-light;
  border: 1px dotted $primary;
  display: flex;
  font-size: 2vh;
  height: 120px;
  justify-content: center;
  margin-top: 0.9%;
  text-align: center;
}

form {
  text-align: center;
}

.foot {
  align-items: flex-end;
  background-color: $primary;
  border: 1px solid $primary-light;
  color: $primary;
  color: $primary-light;
  display: flex;
  font-size: 1.3vh;
  height: 6vh;
  justify-content: flex-end;
  padding-bottom: 1.5vh;
}

.get {
  align-items: center;
  background-color: $primary;
  border: 1px solid $primary-light;
  color: $primary;
  display: flex;
  height: 10vh;
  justify-content: center;

  &.select {
    background-color: $primary-light;
    border: 1px dotted $primary-light;
    height: 6vh;
  }

  &.display {
    background-color: $primary-light;
    border: 1px dotted $primary-light;
    flex-direction: column;
    height: 6vh;
  }
}

.main {
  align-items: center;
  background-color: $primary;
  border: 1px solid $white;
  color: $primary;
  display: flex;
  flex-wrap: wrap;
  height: 750px;
  justify-content: center;
}

.msgs {
  display: flex;
  height: 4vh;
  justify-content: center;
}

.nav {
  align-items: center;
  background-color: $primary;
  border: 1px solid $white;
  color: $primary;
  display: flex;
  font-family: 'Poiret One', sans-serif;
  font-size: 50px;
  height: 75px;
  justify-content: center;
}

#notLoggedIn {
  align-items: center;
  background-color: $primary-light;
  color: $body-bg-color;
  font-style: italic;
  height: 50px;
  margin-top: 1%;
  padding-top: 2%;
  text-align: center;
}

.reset {
  align-items: center;
  display: flex;
  justify-content: center;
}

.side {
  background-color: $primary-light;
  border: 1px dotted $primary;
  height: 107px;
  margin-top: 0;

  &.side.auth {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 602px;
    justify-content: center;
    margin-top: -5%;
    padding-top: 6%;
  }
}

.unit {
  align-items: center;
  background-color: $primary-light;
  border: 1px dotted $primary;
  color: $primary;
  display: flex;
  flex-wrap: wrap;
  font-size: 10vh;
  height: 199px;
  justify-content: center;
  text-align: center;
  width: 199px;
}

.alt-color {
  background-color: $primary-light;
  border-bottom: 1px solid $primary-light;
  border-top: 1px solid $primary-light;
  color: $primary;
}

.alt-font-color {
  color: $primary-light;
}
